<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <section id="cover" class="min-vh-100">
        <div id="cover-caption">
          <div class="container">
            <div class="row text-red">
              <div class="col-xl-12 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                <h1 class="display-4 py-2 text-truncate">
                  <img src="assets/img/zoom-team-logo.png">
                </h1>
                <div class="px-2">
                  <div class="col-8">
                    <small class="" style="color: #064E89;font-weight: bold;">Get More Things Done With</small>
                    <small class="" style="color: #064E89;font-weight: bold;"> ZoomTeams</small><br />
                    <small class="" style="color: #064E89;font-weight: bold;">Access the most powerfull tools to
                      boost</small>
                    <small class="" style="color: #064E89;font-weight: bold;"> collaborative approach in your
                      teams.</small>
                  </div>
                  <img src="assets/img/login-img.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-9 bg-info">
      <section id="cover" class="min-vh-100">
        <div id="cover-caption">
          <div class="container">
            <div class="row text-white">
              <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                <!-- <h1 class="display-4 py-2 text-truncate">Login</h1> -->
                <h3 class="display-4 py-2">Welcome to ZoomTeams</h3>
                <div class="px-2">
                  <!-- <form [formGroup]="login" (ngSubmit)="onLoginSubmit(login)" class="justify-content-center">
                    <div class="form-group">
                      <input formControlName="user_name" type="text" class="form-control" placeholder="Enter UserName">
                    </div>
                    <div class="form-group">
                      <input formControlName="user_password" type="password" class="form-control"
                        placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                      <input type="checkbox" class="form-check-input" id="rememberYou"
                        (change)="rememberMe($event, login)" formControlName="rememberMe">
                      <label class="form-check-label">Remember Me</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-md">Login</button>
                  </form> -->
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
