<!--

<div class="container-fluid">
  <p-toast [style]="{ marginTop: '80px' }"></p-toast>
    <div class="ui-g">
        <div class="ui-g-4"><i style="margin:3px 3px 0 0"></i>
            <input
              class="form-control"
              type="text"
              pInputText
              placeholder="Search by Staff Name "
              (input)="search.filterGlobal($event.target.value, 'contains')"/></div>


              <p-tabView>

                  <button
                    pButton
                    type="button"
                    (click)="addDialog()"
                    label="Add Timesheet"
                  ></button>

    <p-table  #search  [value]="emp_deta" [responsive]="true"  [globalFilterFields]="['name']">
        <ng-template pTemplate="header">
          <tr>

            <th>Employee Name</th>
            <th>Project Name</th>
            <th>Module Name</th>
            <th>Task Description</th>
            <th>Time Spent In Hours</th>
            <th>FromDate</th>

            <th>Status</th>
            <th>option</th>
            <th>Actions</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-details>
          <tr>


            <td><span class="ui-column-title">Name</span>{{ details.name }}</td>
            <td><span class="ui-column-title">Project Name</span>{{ details.projectname }}</td>
            <td><span class="ui-column-title">Module Name</span>{{ details.modulename }}</td>
            <td><span class="ui-column-title">Task Description</span>{{ details.taskdescription}}</td>
            <td><span class="ui-column-title">From Date</span>{{ details.fromdate }}</td>
            <td><span class="ui-column-title">Time Spent</span>{{ details.timespent}}</td>
            <td><span class="ui-column-title">Status</span>{{ details.status }}</td>
              <td>
              <p-dropdown
                [options]="timesheetstatus"
                placeholder="select"
                optionLabel="name"
                [(ngModel)] = 'details.status'
                (onChange)='chanestaus(details)'
              ></p-dropdown>
            </td>

            <td class="iconaligncenter">
                <i class="pi pi-user-edit"  style="cursor: pointer;"  (click)="showDialogToEdit(details)"></i>|
                <i class="pi pi-trash" (click)="onDelete()" style="cursor: pointer;"></i>
              </td>

          </tr>
        </ng-template>
      </p-table>

</p-tabView>
    </div>




    <div class="container">
    <p-dialog
    header="RequestForLEave"
    [(visible)]="display"
    [modal]="true"
    [responsive]="true"
    [style]="{ width: '500px', minWidth: '300px' }"
    [minY]="70"
    [maximizable]="true"

    [baseZIndex]="10000"
    [positionTop] ="10"
    [style] ="{'minWidth': '500px !important'}"
  >
  <form [formGroup]="taskreactive" (ngSubmit)="onFormsubmit()">
  <div class="container-fluid">

      <div class="ui-g-12">
      <div class="form-group row">
        <label for="leaveDateFrom" class="col-sm-4 col-form-label"
          >Employee Name<span class="text-danger">*</span></label
        >
        <div class="col-sm-8">
          <input
            type="text"
            id="leaveDateFrom"
            class="form-control"
            formControlName="name"
            placeholder="Employee Name" autocomplete="off"

          />
        </div>
      </div>
      <div class="form-group row">
        <label for="leaveDateFrom" class="col-sm-4 col-form-label"
          >Project Name<span class="text-danger">*</span></label
        >
        <div class="col-sm-8">
          <input
            type="text"
            id="leaveDateFrom"
            class="form-control"
            formControlName="projectname"
            placeholder="Project Name"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="leaveDateFrom" class="col-sm-4 col-form-label"
          >Module Name<span class="text-danger">*</span></label
        >
        <div class="col-sm-8">
          <input
            type="text"
            id="leaveDateFrom"
            class="form-control"
            formControlName="modulename"
            placeholder="Module Name"

          />
        </div>
      </div>
      <div class="form-group row">
        <label for="leaveDateFrom" class="col-sm-4 col-form-label"
          >Task Description<span class="text-danger">*</span></label
        >
        <div class="col-sm-8">
          <input
            type="text"
            id="leaveDateFrom"
            class="form-control"
            formControlName="taskdescription"
            placeholder="Task Description"

          />
        </div>
      </div>
      <div class="form-group row">
        <label for="leaveDateFrom" class="col-sm-4 col-form-label"
          >Date From<span class="text-danger">*</span></label
        >
        <div class="col-sm-8">
          <input
            type="text"
            id="leaveDateFrom"
            class="form-control"
            formControlName="fromdate"
            placeholder="Date From"

          />
        </div>
      </div>

      <div class="form-group row">
        <label for="leaveDateTo" class="col-sm-4 col-form-label"
          >Time Spent in Hours<span class="text-danger">*</span></label
        >
        <div class="col-sm-8">
          <input
            type="text"
            id="leaveDateTo"
            class="form-control"
            formControlName="timespent"
            bsDatepicker
            placeholder="Timespent "

          />
        </div>
      </div>

      <div class="form-group row">
        <label for="leaveDateTo" class="col-sm-4 col-form-label"
          >Status<span class="text-danger">*</span></label
        >
        <div class="col-sm-8">
          <input
            type="text"
            id="leaveDateTo"
            class="form-control"
            formControlName="status"
            bsDatepicker
            placeholder="Status "

          />

        </div>
      </div>
    </div>

</div>
</form>
      <p-footer>
        <button type="submit" pButton label="Submit" (click)="onFormsubmit()"></button>
        <button
          type="button"
          pButton
          icon="pi pi-close"
          (click)="display = false"
          label="No"
          class="ui-button-secondary"
        ></button>
      </p-footer>

  </p-dialog>
</div>
</div> -->






<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" style="text-align:left">
      <mat-form-field style="padding-right: 80%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-lg-6" style="text-align:right">
      <button mat-raised-button color="primary" (click)="showDialogToAdd('Add')">Add Timesheet</button>
    </div>
  </div>
  <p-toast [style]="{ marginTop: '80px' }"></p-toast>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 table1">
    <div>
      <ng-container matColumnDef="Name">

        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Name">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Project Name">
        <mat-header-cell *matHeaderCellDef>Project Name</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Project Name">{{element.projectname}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Module Name">
        <mat-header-cell *matHeaderCellDef>Module Name</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Module Name">{{element.modulename}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Task Description">
        <mat-header-cell *matHeaderCellDef>Task Description</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Project Name">{{element.taskdescription}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="From Date">
        <mat-header-cell *matHeaderCellDef>From Date</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Task Description">{{element.fromdate}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Time Spent">
        <mat-header-cell *matHeaderCellDef>Time Spent</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Time Spent">{{element.timespent}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Status">{{element.status}}</mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="Actions">
        <mat-header-cell *cdkHeaderCellDef>Actions </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Actions">
         <a> <i class="fas fa-pencil-alt" (click)="showDialogToEdit(element,'Edit')" style="cursor: pointer;"></i></a>
          <a><i class="fas fa-trash-alt" (click)='confirmDelete(element)' style="cursor: pointer;"></i></a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </div>
  </mat-table>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>


<ng-template #matdialog>

    <div id="mat-header">
      <i matTooltip="Close" class="pi pi-times float-right" (click)="this.dialog.closeAll();"
        style="cursor: pointer; color: red;"></i>
    <h1 mat-dialog-title >{{dialogTitle}} Timesheet</h1>
    </div>
  

  <div>
    <form class="example-container" [formGroup]="taskreactive" (ngSubmit)='onFormSubmit()'>
      <mat-form-field>
        <label>Name</label>
        <input matInput formControlName="name" name="name">
      </mat-form-field>&nbsp;&nbsp;
      <mat-form-field>
        <label>project Name</label>
        <input matInput name="projectname" formControlName="projectname">
      </mat-form-field>

      <mat-form-field>
        <label>Module Name</label>
        <input matInput name="modulename" formControlName="modulename">
      </mat-form-field>


      <mat-form-field>
        <label>Task Description</label>
        <input matInput name="taskdescription" formControlName="taskdescription">
      </mat-form-field>

      <mat-form-field>
        <label>From Date</label>
        <input matInput [matDatepicker]="picker1" placeholder="" name="fromdate" formControlName="fromdate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>


      <mat-form-field>
        <label>Time Spent</label>
        <input matInput name="timespent" formControlName="timespent">
      </mat-form-field>
      <mat-form-field>

        <label>Status</label>
        <input matInput name="status" formControlName="status">
      </mat-form-field>

      <div mat-dialog-actions style="float: right;">
        <button type="submit" mat-button>Submit</button>
        <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
